logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

build/Release

node_modules/

typings/

*.tsbuildinfo

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.test

.cache

.history

dist

chaincode-*

package-lock.json

.git
.gitignore
.convector
.editorconfig

README.md
seed_data.sh
start_server.sh

database/